@page "/note-editor"
@page "/note-editor/{NoteId:int}"
@inject ISender Sender

@if (isEditMode && Note != null)
{
    <PageTitle>Edit Note</PageTitle>
    <h3>Edit Note</h3>
    <p>Editing note with title: @Note.Title</p>
    <a href="/notes" class="btn btn-secondary mb-2">Back to Notes</a>
}
else
{
    <PageTitle>Create Note</PageTitle>
    <h3>Create Note</h3>
    <a href="/notes" class="btn btn-secondary mb-2">Back to Notes</a>
}

@if (Note != null)
{
    <EditForm Model="Note" OnSubmit="HandleSubmit" FormName="NoteEditorForm">
        <InputText @bind-Value="Note!.Title" placeholder="Title" class="form-control mb-2" />
        <InputTextArea @bind-Value="Note.Content" placeholder="Content" class="form-control mb-2" rows="5" />
        <label>Select a published date</label>
        <InputDate @bind-Value="Note.PublishedAt" class="form-control mb-2" />
        <div class="form-check">
            <InputCheckbox @bind-Value="Note.IsPublished" class="form-check-input mb-2" />
            <label class="form-check-label mb-2">Is Published</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3 w-100">Create Note</button>
    </EditForm>
}


@code {
    private bool isEditMode => NoteId.HasValue;
    [SupplyParameterFromForm]
    private NoteModel? Note { get; set; }
    [Parameter]
    public int? NoteId { get; set; }
    protected override void OnInitialized() => Note ??= new NoteModel();
    private async Task HandleSubmit()
    {
        var command = Note.Adapt<CreateNoteCommand>();
        var result = await Sender.Send(command);

        Note = result.Adapt<NoteModel>();
        Console.WriteLine("Note created with ID: " + Note.Id);
    }
}