@page "/notes"
@attribute [StreamRendering]
@inject ISender Sender;
<PageTitle>Notes</PageTitle>
<h3>Notes</h3>
<a href="/note-editor" class="btn btn-primary">Create New Note</a>
@if (notes.Count == 0)
{
    <p>Loading notes...</p>
}
else
{
    <ul>
        @foreach (NoteResponse note in notes)
        {
            <li>
                <strong>@note.Title</strong> - Created at: @note.CreatedAt.ToString("g")
                <p>@note.Content</p>
                @if (note.IsPublished)
                {
                    <span> (Published at: @note.PublishedAt?.ToString("g"))</span>
                }
            </li>
        }
    </ul>
}

@code {
    private List<NoteResponse> notes = new List<NoteResponse>();
    protected override async Task OnInitializedAsync()
    {
        List<NoteResponse>? result = await Sender.Send(new GetNotesQuery());
        notes = result ?? new List<NoteResponse>();
    }
}